body {
    background: linear-gradient(180deg, rgba(202, 114, 255, 0.87) 0%, rgba(252, 253, 118, 0.92) 100%) fixed;
}
.Navbar .Theme{
    background-image: url("pictures/moon.png");
}
.Navbar .Theme:hover {

}

.Navbar a {
    color: #000000;
}

.Message {
    background: linear-gradient(90deg, #F9F48E 8.33%, #7BE4B9 100%);
}
.Message p {
    color: #FFFFFF;
    -webkit-text-stroke: .11vmin black;

}
.Im u {
    text-decoration-color: black;
    color: yellow;
}

.Eclipse {
    background: #F9F48E;
}

.Hide a {
    color: #000000;
}
